<div class="box noprint">
    <h5 class="center-align">Lista de Cargos</h5>
    <table class="table highlight responsive-table centered" at-table at-paginated at-list="lista.cargos"
        at-config="lista.config">
        <thead></thead>
        <tbody>
            <tr>
                <td at-title="Cargo" at-implicit at-attribute="nome_cargo" width="50%"></td>
                <td at-title="Tipo Avaliação" data-ng-bind="item.avaliacao_cargo | avaliacaoType" width="20%"></td>
                <td at-title="Ação" width="20%">
                    <a data-ng-click="lista.deleteCargo(item.id_cargo)"
                        class="btn-floating btn waves-effect waves-light add red"><i
                            class="material-icons">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <at-pagination class="right-align" at-list="lista.cargos" at-config="lista.config"></at-pagination>
</div>