<div class="box">
	<h5 class="center-align">Listagem Geral de Inscritos na Seleção Pública Simplificada</h5>
	<div class="col s12 m12 l12">
		<table class="highlight responsive-table centered">
			<thead>
				<tr>
					<th>Inscrição</th>
					<th>Nome do Candidato</th>
					<th>Cargo</th>
					<th>Data Nascimento</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="item in relatorio.candidatos | orderBy:'nome_cargo'">
					<td data-ng-bind="item.numero_inscricao_candidato" width="10%"></td>
					<td data-ng-bind="item.nome_candidato" width="25%"></td>
					<td data-ng-bind="item.nome_cargo" width="20%"></td>
					<td data-ng-bind="(item.data_nascimento_candidato | date:'dd/MM/yyyy')" width="10%"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>